@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Regular.eot');
    src: local('Inter Regular'), local('Inter-Regular'),
        url('Inter-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Regular.woff2') format('woff2'),
        url('../fonts/Inter-Regular.woff') format('woff'),
        url('../fonts/Inter-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('Inter-LightBETA.eot');
    src: local('Inter Light BETA'), local('Inter-LightBETA'),
        url('Inter-LightBETA.eot?#iefix') format('embedded-opentype'),
        url('Inter-LightBETA.woff2') format('woff2'),
        url('Inter-LightBETA.woff') format('woff'),
        url('Inter-LightBETA.ttf') format('truetype');
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Medium.eot');
    src: local('Inter Medium'), local('Inter-Medium'),
        url('../fonts/Inter-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Medium.woff2') format('woff2'),
        url('../fonts/Inter-Medium.woff') format('woff'),
        url('../fonts/Inter-Medium.ttf') format('truetype');
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: 'Inter';
    src: url('../fonts/Inter-Bold.eot');
    src: local('Inter Bold'), local('Inter-Bold'),
        url('Inter-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Inter-Bold.woff2') format('woff2'),
        url('../fonts/Inter-Bold.woff') format('woff'),
        url('../fonts/Inter-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

body {
    font-family: Arial, sans-serif;
    background-color: #D9D9D9;
    /* padding: 20px; */
    text-align: center;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center; /* to vertically align the texts in case they have different heights */
    margin: 10vh 5% 10vh 5%;
}

.scoreboard, .question-count {
    color: #48357B;
    font-family: 'Inter';
    font-size: 40px;
    font-style: normal;
    font-weight: bold;
    line-height: normal;
    margin-bottom: 20px;
}


.question-window {
    color: #FFF;
    font-family: Inter;
    font-size: 34px;
    font-style: normal;
    font-weight: medium;
    line-height: normal;
    border-radius: 13px;
    /* background: #54357B; */
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.3);
    background-color: #54357B;
    padding: 20px 30px;
    margin: 10vh 5% 5vh 5%;
    min-height: 5vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.option-container {
    display: flex;
    flex-wrap: wrap; /* To ensure the options wrap and don't stay in one line */
    justify-content: space-between; /* To provide space between options */
    align-items: stretch;
    margin: 2vh 5% 0 5%;
    min-height: 30vh;
}


.option {
    flex: 0 1 49%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    border-radius: 9999px;
    border: 2px solid #54357B;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.1);
    /* background: #B4A9E0; */
    background-color: #B4A9E0;
    padding: 1% 1.5%;
    margin: 1% 0;
    cursor: pointer;
    transition: background-color 0.1s;
    width: 100%; /* set a width to have a consistent look */
    color: #54357B;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: light;
    line-height: normal;
    /* text-align: center; */
}

.option:hover {
    background-color: #54357B;
    color: #D9D9D9;
    box-shadow: 2px 4px 4px 0px rgba(0, 0, 0, 0.3);
}

.option.correct {
    background-color: #4CAF50;
}

.option.incorrect {
    background-color: #FF5252;
}

.feedback {
    margin: 20px 0;
    font-size: 18px;
    font-weight: bold;
    min-height: 5vh;
}

.progress {
    display: flex;
    gap: 10px;
    justify-content: center;
    margin-top: 30px;
}

.circle {
    width: 2.5vh;
    height: 2.5vh;
    border-radius: 50%;
    background-color: #D9D9D9;
    border: 3px solid #676767;
}

.circle.correct {
    /* background-color: #4CAF50; */
    background-color: #5AAB93;
}

.circle.incorrect {
    background-color: #D88585;
}
